@use "tom-select";

.#{tom-select.$select-ns}-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;
	border: tom-select.$select-dropdown-border;
	background: tom-select.$select-color-dropdown;
	margin: 0.25rem 0 0;
	border-top: 0 none;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 10%);
	border-radius: 0 0 tom-select.$select-border-radius tom-select.$select-border-radius;

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;

		.highlight {
			background: tom-select.$select-color-highlight;
			border-radius: 1px;
		}
	}

	.option,
	.optgroup-header,
	.no-results,
	.create {
		padding: tom-select.$select-padding-dropdown-item-y tom-select.$select-padding-dropdown-item-x;
	}

	.option, [data-disabled], [data-disabled] [data-selectable].option {
		cursor: inherit;
		opacity: 0.5;
	}

	[data-selectable].option {
		opacity: 1;
		cursor: pointer;
	}

	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}

	.optgroup-header {
		color: tom-select.$select-color-optgroup-text;
		background: tom-select.$select-color-optgroup;
		cursor: default;
	}

	.active {
		background-color: tom-select.$select-color-dropdown-item-active;
		color: tom-select.$select-color-dropdown-item-active-text;

		&.create {
			color: tom-select.$select-color-dropdown-item-create-active-text;
		}
	}

	.create {
		color: tom-select.$select-color-dropdown-item-create-text;
	}

	.spinner{
		display: inline-block;
		width: tom-select.$select-spinner-size;
		height: tom-select.$select-spinner-size;
		margin: tom-select.$select-padding-dropdown-item-y tom-select.$select-padding-dropdown-item-x;


		&::after {
			content: " ";
			display: block;
			width: tom-select.$select-spinner-size * .8;
			height: tom-select.$select-spinner-size * .8;
			margin: tom-select.$select-spinner-size * .1;
			border-radius: 50%;
			border: tom-select.$select-spinner-border-size solid tom-select.$select-spinner-border-color;
			border-color: tom-select.$select-spinner-border-color transparent tom-select.$select-spinner-border-color transparent;
			animation: lds-dual-ring 1.2s linear infinite;
		}
		@keyframes lds-dual-ring {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}
}

.#{tom-select.$select-ns}-dropdown-content {
	overflow: hidden auto;
	max-height: tom-select.$select-max-height-dropdown;
	scroll-behavior: smooth;
}
