@use "tom-select";

@use 'sass:color';

.#{tom-select.$select-ns}-control {
	border: tom-select.$select-border;
	padding: tom-select.$select-padding-y tom-select.$select-padding-x;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	box-shadow: tom-select.$select-shadow-input;
	border-radius: tom-select.$select-border-radius;
	display: flex;
	flex-wrap: wrap;

	.#{tom-select.$select-ns}-wrapper.multi.has-items & {
		$padding-x: tom-select.$select-padding-x;
		$padding-top: calc( #{tom-select.$select-padding-y} - #{tom-select.$select-padding-item-y} - #{tom-select.$select-width-item-border});
		$padding-bottom: calc( #{tom-select.$select-padding-y} - #{tom-select.$select-padding-item-y} - #{tom-select.$select-margin-item-y} - #{tom-select.$select-width-item-border});

		padding: $padding-top $padding-x $padding-bottom;
	}

	.full & {
		background-color: tom-select.$select-color-input-full;
	}

	.disabled &,
	.disabled & * {
		cursor: default !important;
	}

	.focus & {
		box-shadow: tom-select.$select-shadow-input-focus;
	}

	> * {
		vertical-align: baseline;
		display: inline-block;
	}

	.#{tom-select.$select-ns}-wrapper.multi & > div {
		cursor: pointer;
		margin: 0 tom-select.$select-margin-item-x tom-select.$select-margin-item-y 0;
		padding: tom-select.$select-padding-item-y tom-select.$select-padding-item-x;
		background: tom-select.$select-color-item;
		color: tom-select.$select-color-item-text;
		border: tom-select.$select-width-item-border solid tom-select.$select-color-item-border;
		overflow: auto;

		&.active {
			background: tom-select.$select-color-item-active;
			color: tom-select.$select-color-item-active-text;
			border: tom-select.$select-width-item-border solid tom-select.$select-color-item-active-border;
		}
	}

	.#{tom-select.$select-ns}-wrapper.multi.disabled & > div {
		&, &.active {
			color: color.adjust(color.scale(tom-select.$select-color-item-text, $saturation: -100%), $lightness: tom-select.$select-lighten-disabled-item-text);
			background: color.adjust(color.scale(tom-select.$select-color-item, $saturation: -100%), $lightness: tom-select.$select-lighten-disabled-item);
			border: tom-select.$select-width-item-border solid color.adjust(color.scale(tom-select.$select-color-item-border, $saturation: -100%), $lightness: tom-select.$select-lighten-disabled-item-border);
		}
	}

	> input {
		flex: 1 1 auto;
		min-width: 7rem;
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: 0 !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		user-select: auto !important;
		box-shadow: none !important;

		&::-ms-clear {
			display: none;
		}

		&:focus { outline: none !important; }
	}

	.has-items & > input{
		margin: tom-select.$select-caret-margin !important;
	}

	&.rtl {
		text-align: right;
		&.single .#{tom-select.$select-ns}-control:after {
			left: tom-select.$select-arrow-offset;
			right: auto;
		}
		.#{tom-select.$select-ns}-control > input {
			margin: tom-select.$select-caret-margin-rtl !important;
		}
	}

	.disabled & {
		opacity: tom-select.$select-opacity-disabled;
		background-color: tom-select.$select-color-disabled;
	}

	// hide input, while retaining its focus, and maintain layout so users can still click on the space to bring the display back
	// visibility:hidden can prevent the input from receiving focus
	.input-hidden & > input {
		opacity: 0;
		position: absolute;
		left: -10000px;
	}
}
